<div class="container"> 
<h2>Companies</h2>

<% @companies.each do |company| %>
  <li>
    <h3><%= link_to company.name.capitalize, company_path(company.id) %>
      <%= link_to "Edit Company", edit_company_url(company.id), :class => 'btn btn-primary' %>
       <%= link_to "Delete Company", delete_company_path(company.id), class: 'btn btn-danger' %>
     </h3>
   </li>
<% end %>
</br>
<%= link_to "New Company", new_company_path, :class => 'btn btn-primary' %>

</div>
