    <section>
        <p>
            <button id="start">Start</button>
            <button id="lap">Lap</button>
            <button id="pause">Pause</button>
            <button id="stop">Stop</button>
            <button id="reset">Reset</button>
        </p>
        <p>
            <input id="clockface" placeholder="00:00:00">
        </p>
        <p>
            <div id="laptimes"></div>
        </p>
    </section>




